canvas {

    // margin: auto;

    border: 1px solid green;
    border-top: 0px;

    // background-color: black;

    // background-image: url('../images/background1.jpg');
    // background-size: 100% 100%;

    background-image: url('../images/bgif.gif');
    background-size: 100% 111%;
}