body {
    background-color: black;
    
}

#content_and_links {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: auto;

    
}

// #content {
//     width: 65%;

// }

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: rgb(73, 251, 53); // rgb(73, 251, 53) neon green
}

#instructions {
    margin-top: 15px;
    height: 90px;
    border: 1px solid rgb(73, 251, 53);
    color: rgb(73, 251, 53);

    // word-wrap: break-word;
    // white-space: pre-wrap;
    // word-break: break-word;
}

#game-window {
    height: 375px;
    border: 1px solid black;
    border-top: 0px;
}

#links {

    height: 200px;
    width: 50px;
    border: 1px solid black;

}