#content {
    max-width: 70%;
    margin: auto;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#instructions {
    margin-top: 15px;
    height: 90px;
    border: 1px solid black;
}

#game-window {
    height: 375px;
    border: 1px solid black;
    border-top: 0px;
}