#content_and_links {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: auto;

}

// #content {
//     width: 65%;

// }

h1 {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: green;
}

#instructions {
    margin-top: 15px;
    height: 90px;
    border: 1px solid green;
    color: green;
}

#game-window {
    height: 375px;
    border: 1px solid black;
    border-top: 0px;
}

#links {

    height: 200px;
    width: 50px;
    border: 1px solid black;

}